.btn {
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px;
    font-size: 22px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    display: inline-block;
  }

  .btn:hover {
    cursor: url(http://cur.cursors-4u.net/symbols/sym-1/sym46.cur), auto;
  }
  .blue {
    color: #55acee;
    border: 2px #55acee solid;
  }

  .blue:hover {
    background-color: #55acee;
    color: #fff
  }

  .green {
    color: #2ecc71;
    border: 2px #2ecc71 solid;
  }

  .green:hover {
    color: #fff;
    background-color: #2ecc71;
  }

  .red {
    color: #e74c3c;
    border: 2px #e74c3c solid;
  }

  .red:hover {
    color: #fff;
    background-color: #e74c3c;
  }

  .purple {
    color: #9b59b6;
    border: 2px #9b59b6 solid;
  }

  .purple:hover {
    color: #fff;
    background-color: #9b59b6;
  }

  .orange {
    color: #e67e22;
    border: 2px #e67e22 solid;
  }

  .orange:hover {
    color: #fff;
    background-color: #e67e22;
  }

  .yellow {
    color: #f1c40f;
    border: 2px #f1c40f solid;
  }

  .yellow:hover {
    color: #fff;
    background-color: #f1c40f;
  }

  .buttons {
    padding-top: 30px;
    text-align: center;
  }
