@import './progress.scss';
@import './list.scss';
@import './lrc.scss';
$yuefu-height: 66px;
$lrc-height: 30px;
$yuefu-height-lrc: $yuefu-height + $lrc-height - 6;

.yuefu {
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.07), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    overflow: hidden;
    user-select: none;
    line-height: initial;
    position: relative;

    * {
        box-sizing: content-box;
    }

    svg {
        width: 100%;
        height: 100%;

        path,
        circle {
            fill: #fff;
        }
    }

    &.yuefu-withlist {
        .yuefu-info {
            border-bottom: 1px solid #e9e9e9;
        }
        .yuefu-list {
            display: block;
        }
        .yuefu-info .yuefu-controller .yuefu-time .yuefu-icon.yuefu-icon-menu {
            display: inline;
        }
        .yuefu-icon-order {
            display: inline;
        }
    }

    &.yuefu-narrow {
        width: $yuefu-height;

        .yuefu-info {
            display: none;
        }
        .yuefu-list {
            display: none;
        }
        .yuefu-pic,
        .yuefu-body {
            height: $yuefu-height;
            width: $yuefu-height;
        }
    }

    &.yuefu-arrow {
        .yuefu-icon-order,
        .yuefu-icon-loop {
            display: none;
        }
    }

    &.yuefu-loading {
        .yuefu-info .yuefu-controller .yuefu-loading-icon {
            display: block;
        }

        .yuefu-info .yuefu-controller .yuefu-bar-wrap .yuefu-bar .yuefu-played .yuefu-thumb {
            transform: scale(1);
        }
    }

    .yuefu-body {
        position: relative;
    }

    .yuefu-icon {
        width: 15px;
        height: 15px;
        border: none;
        background-color: transparent;
        outline: none;
        cursor: pointer;
        opacity: .8;
        vertical-align: middle;
        padding: 0;
        font-size: 12px;
        margin: 0;
        display: inline-block;

        path {
            transition: all .2s ease-in-out;
        }
    }

    .yuefu-icon-order,
    .yuefu-icon-back,
    .yuefu-icon-play,
    .yuefu-icon-forward,
    .yuefu-icon-lrc {
        display: none;
    }

    .yuefu-icon-lrc-inactivity {
        svg {
            opacity: 0.4;
        }
    }

    .yuefu-icon-forward {
        transform: rotate(180deg);
    }

    .yuefu-lrc-content {
        display: none;
    }

    .yuefu-pic {
        position: relative;
        float: left;
        height: $yuefu-height;
        width: $yuefu-height;
        background-size: cover;
        background-position: center;
        transition: all 0.3s ease;
        cursor: pointer;

        &:hover .yuefu-button {
            opacity: 1;
        }

        .yuefu-button {
            position: absolute;
            border-radius: 50%;
            opacity: 0.8;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            background: rgba(0, 0, 0, 0.2);
            transition: all 0.1s ease;

            path {
                fill: #fff;
            }
        }

        .yuefu-hide {
            display: none;
        }

        .yuefu-play {
            width: 26px;
            height: 26px;
            border: 2px solid #fff;
            bottom: 50%;
            right: 50%;
            margin: 0 -15px -15px 0;
            svg {
                position: absolute;
                top: 3px;
                left: 4px;
                height: 20px;
                width: 20px;
            }
        }

        .yuefu-pause {
            width: 16px;
            height: 16px;
            border: 2px solid #fff;
            bottom: 4px;
            right: 4px;
            svg {
                position: absolute;
                top: 2px;
                left: 2px;
                height: 12px;
                width: 12px;
            }
        }
    }

    .yuefu-info {
        margin-left: $yuefu-height;
        padding: 14px 7px 0 10px;
        height: $yuefu-height;
        box-sizing: border-box;

        .yuefu-music {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin: 0 0 13px 5px;
            user-select: text;
            cursor: default;
            padding-bottom: 2px;
            height: 20px;

            .yuefu-title {
                font-size: 14px;
            }

            .yuefu-author {
                font-size: 12px;
                color: #666;
            }
        }

        .yuefu-controller {
            position: relative;
            display: flex;

            .yuefu-volume-wrap {
                position: relative;
                display: inline-block;
                margin-left: 3px;
                cursor: pointer !important;

                &:hover .yuefu-volume-bar-wrap {
                    height: 40px;
                }

                .yuefu-volume-bar-wrap {
                    position: absolute;
                    bottom: 15px;
                    right: -3px;
                    width: 25px;
                    height: 0;
                    z-index: 99;
                    overflow: hidden;
                    transition: all .2s ease-in-out;

                    &.yuefu-volume-bar-wrap-active {
                        height: 40px;
                    }

                    .yuefu-volume-bar {
                        position: absolute;
                        bottom: 0;
                        right: 10px;
                        width: 5px;
                        height: 35px;
                        background: #aaa;
                        border-radius: 2.5px;
                        overflow: hidden;

                        .yuefu-volume {
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            width: 5px;
                            transition: all 0.1s ease;
                        }
                    }
                }
            }

            .yuefu-loading-icon {
                display: none;

                svg {
                    position: absolute;
                    animation: rotate 1s linear infinite;
                }
            }
        }
    }
}

@keyframes yuefu-roll {
    0%{left:0}
    100%{left: -100%}
}

@keyframes rotate {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg)
    }
}
